.code {
	float:left;
	width:390px;
	height:650px;
	border-width:2px;
	border-style:solid;
	border-color:#000;
	background:#fff;
	font-size:large;
}

#code {
    position: relative;
}

.canvas {
	padding-left:30px;
	float:left;
	width:557px;
	height:475px;
}

.playButton {
    height:30;
    width:30;
}

.buttonBar {
	text-align: left;
	font-weight: bold;
	height:50px;
	margin: 0;
}
