html, body {
   padding:0px;
	margin:0px;
	height:100%;
	width:100%;
	padding:0px;
	font-family: Calibri, Lucida, Verdana, Geneva, Arial, sans-serif;
	font-size: medium;
	background:dimgray;
	overflow:hidden;
}

#content {
   position:absolute;
}

#progressBarDiv {
   position:absolute;
   width:100%;
   background-color:#000;
}

#headerDiv {
   position:absolute;
   width:100%;
   background-color:#000;
}

#centerAreaDiv {
   position:absolute;
   width:100%;
   background-color:gray;
}

.progressBox{
   position:absolute;
}

.imageButton {
   position:absolute;
}
