html, body {
   padding:0px;
	margin:0px;
	height:100%;
	width:100%;
	padding:0px;
	font-family: Calibri, Lucida, Verdana, Geneva, Arial, sans-serif;
	font-size: medium;
	background:DimGray ;
	overflow:hidden;
}

#content {
   position:absolute;
}

#progressBarDiv {
   position:absolute;
   width:100%;
   background-color:	#502916   ; /* dark sienna */
}

#headerDiv {
   position:absolute;
   width:100%;
   background-color:black ;
}

#centerAreaDiv {
   position:absolute;
   width:100%;
   background-color:#A8AEB2 ;
}

.progressBox{
   position:absolute;
}

.absoluteDiv {
   position:absolute;
}

.rounded {
   position:absolute;
   background:white;
   -moz-border-radius: 7px;
   border-radius: 15px;
}

.centeredText {
    width: auto;
    text-align:center;
}

p {
   margin:0px;
   font-size:40px;
}
