html, body {
   padding:0px;
	margin:0px;
	height:100%;
	width:100%;
	padding:0px;
	font-family: Calibri, Lucida, Verdana, Geneva, Arial, sans-serif;
	font-size: medium;
	background:white ;
	overflow:hidden;
}

#content {
   position:absolute;
   background-image:url('../images/background.jpg');
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

#progressBarDiv {
   position:absolute;
   width:100%;
   background-image:url('../images/bottomBar.png');
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

#headerDiv {
   position:absolute;
   width:100%;
   background-color:black ;
}

#centerAreaDiv {
   position:absolute;
   width:100%;
   

}

.progressBox{
   position:absolute;
}

.absoluteDiv {
   position:absolute;
}

.rounded {
   position:absolute;
   -moz-border-radius: 7px;
   border-radius: 7px;
   background:white;
}

.roundedButton {
   position:absolute;
   -moz-border-radius: 7px;
   border-radius: 7px;
   background:white;
}

.roundedButton:hover {
   position:absolute;
   -moz-border-radius: 7px;
   border-radius: 7px;
   background:lightgreen;
}

.roundedButton:active {
   position:absolute;
   -moz-border-radius: 7px;
   border-radius: 7px;
   background:blue;
}

.centeredText {
    width: auto;
    text-align:center;
}

p {
   margin:0px;
   font-size:40px;
}
