<!DOCTYPE html> 
<html> 
        <head> 
		<title>Learn</title> 
		        <meta property="fb:admins" content="222160" />
				<link rel="stylesheet" href="css/learn.css" type="text/css" />

				<!-- Standard includes -->
                <link rel="stylesheet" href="css/style.css" type="text/css" />
				
				<link rel="stylesheet" type="text/css" href="css/tabs.css" />

				<script type="text/javascript"
					src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js">
				</script> 
				
                <script type="text/javascript" src="lib/util.js"></script>
                <script type="text/javascript" src="lib/point.js"></script>
                <script type="text/javascript" src="lib/circle.js"></script>
				<script type="text/javascript" src="lib/cookie.js"></script>
				<script type="text/javascript" src="lib/tabs.js"></script>
                <script type="text/javascript" src="codeMirror/js/codemirror.js"></script>
				<script type="text/javascript" src="js/karelImages.js"></script>
				<script type="text/javascript" src="js/action.js"></script>
                <script type="text/javascript" src="js/karel.js"></script>
                <script type="text/javascript" src="js/beepers.js"></script>
                <script type="text/javascript" src="js/walls.js"></script>
                <script type="text/javascript" src="js/karelWorld.js"></script>
                <script type="text/javascript" src="js/karelApplication.js"></script>
                <script type="text/javascript" src="js/application.js"></script>
				<script type="text/javascript" src="js/submitContest.js"></script>

        <link rel="shortcut icon" href="/favicon.ico" />


</head> 

<body> 

	<div id="inner"> 
 		<div id="header">        
                        <a id="logo" href="/" rel="nofollow"></a>  
                        <div id = "smallLinks">

                        		<a href="/" rel="nofollow" class="tab" >Code</a>
										
                                <a class="selectedtab" href="learn?pageIndex=0" rel="nofollow">Learn</a>

								<a class="tab" href="examples" rel="nofollow">Examples</a>

								<span id = "social"></span>
                                
                                <a class="smallLink" href="about.html" rel="nofollow">About</a>
                        </div>
                </div> 
	               <br/>       
		<div id="content">


			<div id="lessonsDiv">

			{% for page in pageNames %}
				<a href = "learn?pageIndex={{forloop.counter0}}">{{page}}</a>
				<br/><br/>
			{% endfor %}

			</div>
			<div id="learnDiv">
				<div id ="learnBody">
					{% include contentFile %}

	          

	            </div>

				{% if backFlag %}
	            <button type='button' id='interactor' onClick='window.location.href="{{backUrl}}"'> 
	            	<IMG SRC="./images/previous.gif" HEIGHT=50 WIDTH=75 ALT="Previous" ALIGN="ABSMIDDLE">
	            </button>
				{% endif %}
			
				{% if forwardFlag %}
				<button id='nextButton' type='button' id='interactor' onClick='window.location.href="{{forwardUrl}}"'> 
					<IMG SRC="./images/next.gif" HEIGHT=50 WIDTH=75 ALT="Next" ALIGN="ABSMIDDLE">
				</button>
				{% endif %}

			

			</div>
		</div>

		
	</div>
</body> 
</html>
